body {
    background-color: lightgoldenrodyellow;
    margin: 0px 500px 0px 500px;
}

table {
    width: 30%;
}

.PictureWidth {
    width: 100px;
}

.Center {
    text-align: center;
}

table {
    text-align: center;
    margin: auto;
}