body{
    background-color:lightgoldenrodyellow;
    margin:0px 100px 0px 100px;
}

.PictureWidth{
    width:200px;
    height:300px;
}

.Center{
    text-align:center;
}

table{
    text-align:center;
    margin: auto;
}